body{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: 0;
    font-family: 'Roboto Slab', serif;
}
h1{
    font-size: 48px;
}
#heder{
    font-family: 'Roboto Slab', serif;
    padding: 10px 20px;
    display: flex;
    
}
.text-color{
    color: orangered;
}
.main_head{
    width: 50%;
    
}
.main_head h1{
font-weight: 800;

letter-spacing: 5px;
padding-top: 15px;
}
.head_img{
    width: 50%;
}
.head_img img{
    width: 70%;
}
.link_button{
    text-decoration: none;
    color:#fff;
    padding: 10px 40px;
    background-image: linear-gradient(orange, orangered);
    border-radius: 5px;
    font-weight: 600;
    
}
/* banner part start */
#banner{
    display: flex;
    margin-top: 150px;
    margin-left: 10px;
    margin-right: 10px;
}
.banner_left{
    width: 50%;
}
.banner_left img{
    width: 70%;
}

.banner_right{
    width: 50%;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.banner_right h1{
    font-size: 40px;
    font-weight: 700;

}
.banner_right p{
    padding-bottom: 30px;
}
/* banner part end */
/* about part strat */
#about h1{
    text-align: center;
    font-family: 'Roboto Slab', serif;
}
.Experiences_head{
    display: flex;
    padding: 20px 0;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
.experience_item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    
}
.experience_item p{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.border_left01{
    border-left: 7px solid tomato;
}
.border_left02{
    border-left: 7px solid blue;
}
/* about part end */
footer{
    text-align: center;
}