body{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: 0;
}
#heder{
    font-family: 'Roboto Slab', serif;
    padding: 10px 20px;
    display: flex;
    
}
.text-color{
    color: orangered;
}
.main_head{
    width: 50%;
    
}
.main_head h1{
font-weight: 800;
font-size: 42px;
letter-spacing: 5px;
padding-top: 15px;
}
.head_img{
    width: 50%;
}
.head_img img{
    width: 70%;
}
.link_button{
    text-decoration: none;
    color:#fff;
    padding: 10px 40px;
    background-image: linear-gradient(orange, orangered);
    border-radius: 5px;
    font-weight: 600;
}